appdirs==1.4.4
azure-core==1.29.2
azure-devops==7.1.0b3
Bottleneck==1.3.5
certifi==2023.5.7
charset-normalizer==3.2.0
et-xmlfile==1.1.0
ezomero==2.0.0
future==0.18.3
idna==3.4
isodate==0.6.1
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
msrest==0.7.1
mysql-connector==2.2.9
mysql-connector-python==8.1.0
numexpr==2.8.4
numpy==1.25.0
oauthlib==3.2.2
omero-py==5.13.1
openpyxl==3.1.2
pandas==2.0.3
Pillow==10.0.0
pip==23.1.2
protobuf==4.21.12
pymsteams==0.2.2
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
setuptools==67.8.0
six==1.16.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
watchdog==3.0.0
wheel==0.38.4
zeroc-ice==3.6.5
